:root {
  --md-primary-fg-color: #711a5f;
  --md-primary-fg-color--light: #8b2c78;
  --md-primary-fg-color--dark: #5a134c;
  --md-accent-fg-color: #711a5f;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #711a5f;
  --md-primary-fg-color--light: #8b2c78;
  --md-primary-fg-color--dark: #5a134c;
  --md-accent-fg-color: #b85fa5;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2rem;
  width: 2rem;
}
